{% extends 'base.html' %}
{% block content %}


<body>
	<h3><center> Blogs <h3></center>
<table border=1>
<tr>
	<table>
    <tr>
      <center><h2><a href="{% url 'add' %}"><center><b>Add New Blog</b></a></h2>
    </td>
 </table><br><br>
{% for blog in blog %}
<center>
<table style="width:70%"><center>
<tr>
    <td colspan="2" bgcolor="lightgrey"> Blog Title: {{ blog.blog_title }}</td>
  </tr>
  <tr>
    <td colspan="2">{{ blog.blog }}</td>
  </tr>
  
  <tr>
    <td  bgcolor="lightgrey">{{ blog.blog_date }}</td>
    <td  bgcolor="lightgrey">By, {{ blog.blog_author }}</td>
    
  </tr>
  </table>
  <table>
  <tr>
  	<td>
  		<td><a href="'edit/{{ blog.id }}">Edit</td>
  	</td>
  	<td>
  		<td><a href="'delete/{{ blog.id }}">Delete</td>
  	</td>
  </tr>
 </table>
</tr>
</table>

</center>
<br><br><br>
{% endfor %}
</body>

{% endblock %}