{% extends 'base.html' %}
{% block content %}


<body>
	<h3><center> Blogs <h3></center>
<table>
    <tr>
      <center><a href="{% url 'add' %}"><center><b>Add New Blog</b></a>
    </td>
 </table><br><br>
{% for blog in blog %}
<center>
<table style="width:70%"><center>
<tr>
    <td colspan="2" bgcolor="lightgrey"> Blog Title: {{ blog.blog_title }}</td>
  </tr>
  <tr>
    <td colspan="2">{{ blog.blog }}</td>
  </tr>
  
  <tr>
    <td  bgcolor="lightgrey">{{ blog.blog_date }}</td>
    <td  bgcolor="lightgrey">By, {{ blog.blog_author }}</td>
  </tr>
  
</table>
</center>
<br><br><br>
{% endfor %}
</body>

{% endblock %}